h2{
    text-align: center;
    margin-bottom: 2vw;
    margin-top: 5vw;
}

#dadosUsuario{
    margin-bottom: 4vw;
}

ion-button{
    width: 90%;
    margin: auto;
    margin-top: 5vw;
    display: flex;
}