h1{
    text-align: center;
    margin-bottom: 2vw;
    margin-top: 5vw;
}

ion-button{
    width: 90%;
    margin: auto;
    display: flex;
    margin-top: 5vw;
    margin-bottom: 5vw;
}

p{
    font-size: 5vw;
}